/*********************************/
@font-face {
  font-family: 'Katuri';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
/*********************************/
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
img[src="https://kojkkojk.github.io/hamoonrang/dccon/images/시공조아.png"],
  img[src="https://kojkkojk.github.io/hamoonrang/dccon/images/볼트공중.png"]
{
  animation: rotate_image 0.5s linear infinite;
  transform-origin: 50% 50%;
}
* {
  box-sizing: border-box;
}
html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Katuri';
}
body {
  position: absolute;
  /* html의 기본 여백 제거 */
  margin: 0;
  right: 0;
  left: 0;
  /* 채팅 메세지가 아래에서부터 나타나도록 */
  bottom: 0;
}
#chat_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  word-wrap: break-word;
}
.chat_outer_box {
  margin: 0.25rem 0;
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  animation: fadeInUp 0.55s ease-out;
}
img.twitch_emote {
  max-height: 30px;
}
img.dccon {
  max-height: 100px;
}
/* Nickname / Badge */
.chat_upper_box {
  min-height: 30px;
  position: relative;
  padding: 0.25rem;
  background-color: transparent;
  /* border: 1px solid black; */
  border-radius: 8px;
  z-index: 10;
  background: rgb(255, 180, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat_nickname_box {
  width: 50%;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  letter-spacing: 5px;
  flex-grow: 1;
  padding: 0 0.25rem;
  font-weight: 500;
  color: #fff !important;
  text-shadow: 0 0 0.25rem #000, 0 0 0.125rem #000, 0 0 0.125rem #000,
    0 0 0.125rem #000;
}
.chat_badge_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.25rem;
}
.chat_badge_box > img {
  width: 1.375rem;
  height: 1.375rem;
  margin: 0 0 0 0.1rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.5);
}
/* Messages */
.chat_lower_box {
  padding: 0 10px;
  position: relative;
  color: rgb(46, 46, 46);
  /* background-color: rgba(64, 243, 243, 0.521); */
  /* color: #fff; */
  /* text-shadow: 0 0 0.25rem #000, 0 0 0.125rem #000, 0 0 0.125rem #000, 0 0 0.125rem #000; */
}
.chat_msg_box {
  padding: 0.35rem 0.7rem;
  max-height: 15rem; /* 텍스트 영역 최대 높이 */
  font-size: 1.25rem;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
}
.chat_msg_box.image_only {
  text-align: center;
}
.chat_msg_box.image_only:empty {
  display: none;
}
